# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: jteissie <jteissie@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/05/25 14:08:18 by jteissie          #+#    #+#              #
#    Updated: 2024/05/27 17:34:18 by jteissie         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.swp
*.out
test*
*.txt
